img {
    max-width: 110px;
    position: absolute;
    left: 0;
    top: 0;
}
* {
    font-weight: lighter;
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important;  /*Firefox*/
}
body {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important;  /*Firefox*/
}
table {
    margin-bottom: 20px;
    border: none;
}
table tr {
    border: 1px solid #ccc;
}
table th {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #f2f2f2;
    background: #f2f2f2;
    font-weight: bold;
    padding: 5px;
}
table td {
    border: 1px solid #ccc;
    padding-bottom: 10px;
}
.trip-header {
    background: #ccc;
    margin-left: -1px;
    margin-right: -1px;
}
.trip-header h3 {
    margin: 5px;
    font-size: 13px !important;
}
.trip-header p {
    font-size: 10px !important;
    margin: 0 !important;
}
.pdf-row {
    font-size: 10px;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.signature-line {
  border-bottom: 1px solid #d7e1ed;
  padding-top: 40px;
  margin-bottom: 20px;
}
tr:nth-child(even) {background-color: #f9f9f9;}

.page_break { page-break-inside: avoid;}

.table-break-inside { break-inside: auto;}