.payfast-btn{
    background: #01a9ac !important;
    padding: 8px 14px;
    line-height: 16px;
    font-size: 11px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    color: #fff!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    border: 1px solid transparent;
}